{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH page #}
{# This page can use any data from http:localhost:2000/cms/#/form/page/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this page's name to the site title defined in base.html #}
{% block title %} {{item.seo_title}} {% endblock %}
{% block meta %}
  <meta name="description" content="{{ item.seo_description }}">
{% endblock %}
{% block content %}
{% if item.page_type == "Channel" || item.page_type == "Awards"  %}
<div class="row padding30 page-single-header" style="background:url('{{ item.hero_image.url }}')">
  <div class="col-xs-12 col-sm-6 col-sm-offset-1">
    {% if item.image_icon %}
      <img class="img-center img-circle img-image-icon" src="{{item.image_icon.url}}" />
    {% endif %}
    <h1>{{item.name}}</h1>
    {% if item.page_type == "Awards" %}
      {% if item.sub_heading %}<h3>{{ item.sub_heading }}</h3>{% endif %}
    {% else %}
      {% if item.sub_heading %}<h3 class="awardhero">{{ item.sub_heading }}</h3>{% endif %}
    {% endif %}
  </div>
  <div class="hidden-xs col-sm-2">

  </div>

    <div class="hidden-xs col-sm-3">
      <ul class="nav nav-pills nav-stacked">
            {% if item.section_1_a_name && item.section_1_title ||
                  item.section_2_a_name && item.section_2_title ||
                  item.section_3_a_name && item.section_3_title ||
                  item.section_4_a_name && item.section_4_title ||
                  item.section_5_a_name && item.section_5_title ||
                  item.section_6_a_name && item.section_6_title ||
                  item.section_7_a_name && item.section_7_title
               %}
            <p>Channel overview</p>
            {% endif %}
            {% if item.section_1_a_name && item.section_1_title %}
              <li><a class="scroll" href="#{{item.section_1_a_name}}">{{item.section_1_title}}</a></li>
            {% endif %}
            {% if item.section_2_a_name && item.section_2_title %}
              <li><a class="scroll" href="#{{item.section_2_a_name}}">{{item.section_2_title}}</a></li>
            {% endif %}
            {% if item.section_3_a_name && item.section_3_title %}
              <li><a class="scroll" href="#{{item.section_3_a_name}}">{{item.section_3_title}}</a></li>
            {% endif %}
            {% if item.section_4_a_name && item.section_4_title %}
              <li><a class="scroll" href="#{{item.section_4_a_name}}">{{item.section_4_title}}</a></li>
            {% endif %}
            {% if item.section_5_a_name && item.section_5_title %}
              <li><a class="scroll" href="#{{item.section_5_a_name}}">{{item.section_5_title}}</a></li>
            {% endif %}
            {% if item.section_6_a_name && item.section_6_title %}
              <li><a class="scroll" href="#{{item.section_6_a_name}}">{{item.section_6_title}}</a></li>
            {% endif %}
            {% if item.section_7_a_name && item.section_7_title %}
              <li><a class="scroll" href="#{{item.section_7_a_name}}">{{item.section_7_title}}</a></li>
            {% endif %}
            {% if item.additional_resources %}
              <li><a class="scroll" href="#additional-resources">Additional Resources</a></li>
            {% endif %}
            {% if item.experts %}
              <li><a class="scroll" href="#channel-experts">Channel Experts</a></li>
            {% endif %}
      </ul>
    </div>
</div>
<div class="row padding30">
  <div class="col-xs-12 col-sm-12 channel-left">
    {% if item.content %}
    <p>{{ item.content|safe }}</p>
    {% endif %}
    {% if item.section_1_title %}
    <div id="{{ item.section_1_a_name }}" class="row">
      <div class="col-xs-12 channelsection">
        <h2>{{ item.section_1_title }}</h2>
        <p>
          {{ item.section_1_sub_heading }}
        </p>
      </div>
      {% if item.section_1_item_layout == "Grid" %}
        {% for item in item.section_1_items %}
          {% include "templates/partials/page/grid.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_1_item_layout == "Full" %}
        {% for item in item.section_1_items %}
          {% include "templates/partials/page/full.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_1_item_layout == "Category" %}
        {% for item in item.section_1_items %}
          {% include "templates/partials/page/category.html" %}
        {% endfor %}
      {% endif %}
      <div class="col-xs-12">
        {{ item.section_1_content|safe }}
      </div>
      {% if item.section_1_banner_image %}
        <a rel="nofollow" class="sectionbanner" href="{{item.section_1_banner_link}}"><img class="img-responsive img-full" src="{{item.section_1_banner_image.url}}" /></a>
      {% endif %}
    </div>
    {% endif %}
    {% if item.section_2_title %}
    <div id="{{ item.section_2_a_name }}" class="row">
      <div class="col-xs-12 channelsection">
        <h2>{{ item.section_2_title }}</h2>
        <p>
          {{ item.section_2_sub_heading }}
        </p>
      </div>
      {% if item.section_2_item_layout == "Grid" %}
        {% for item in item.section_2_items %}
          {% include "templates/partials/page/grid.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_2_item_layout == "Full" %}
        {% for item in item.section_2_items %}
          {% include "templates/partials/page/full.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_2_item_layout == "Category" %}
        {% for item in item.section_2_items %}
          {% include "templates/partials/page/category.html" %}
        {% endfor %}
      {% endif %}
      <div class="col-xs-12">
        {{ item.section_2_content|safe }}
      </div>
      {% if item.section_2_banner_image %}
        <a rel="nofollow" class="sectionbanner" href="{{item.section_2_banner_link}}"><img class="img-responsive img-full" src="{{item.section_2_banner_image}}" /></a>
      {% endif %}
    </div>
    {% endif %}
    {% if item.section_3_title %}
    <div id="{{ item.section_3_a_name }}" class="row">
      <div class="col-xs-12 channelsection">
        <h2>{{ item.section_3_title }}</h2>
        <p>
          {{ item.section_3_sub_heading }}
        </p>
      </div>
      {% if item.section_3_item_layout == "Grid" %}
        {% for item in item.section_3_items %}
          {% include "templates/partials/page/grid.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_3_item_layout == "Full" %}
        {% for item in item.section_3_items %}
          {% include "templates/partials/page/full.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_3_item_layout == "Category" %}
        {% for item in item.section_3_items %}
          {% include "templates/partials/page/category.html" %}
        {% endfor %}
      {% endif %}
      <div class="col-xs-12">
        {{ item.section_3_content|safe }}
      </div>
    </div>
    {% endif %}
    {% if item.section_4_title %}
    <div id="{{ item.section_4_a_name }}" class="row">
      <div class="col-xs-12 channelsection">
        <h2>{{ item.section_4_title }}</h2>
        <p>
          {{ item.section_4_sub_heading }}
        </p>
      </div>
      {% if item.section_4_item_layout == "Grid" %}
        {% for item in item.section_4_items %}
          {% include "templates/partials/page/grid.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_4_item_layout == "Full" %}
        {% for item in item.section_4_items %}
          {% include "templates/partials/page/full.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_4_item_layout == "Category" %}
        {% for item in item.section_4_items %}
          {% include "templates/partials/page/category.html" %}
        {% endfor %}
      {% endif %}
      <div class="col-xs-12">
        {{ item.section_4_content|safe }}
      </div>
    </div>
    {% endif %}
    {% if item.section_5_title %}
    <div id="{{ item.section_5_a_name }}" class="row">
      <div class="col-xs-12 channelsection">
        <h2>{{ item.section_5_title }}</h2>
        <p>
          {{ item.section_5_sub_heading }}
        </p>
      </div>
      {% if item.section_5_item_layout == "Grid" %}
        {% for item in item.section_5_items %}
          {% include "templates/partials/page/grid.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_5_item_layout == "Full" %}
        {% for item in item.section_5_items %}
          {% include "templates/partials/page/full.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_5_item_layout == "Category" %}
        {% for item in item.section_5_items %}
          {% include "templates/partials/page/category.html" %}
        {% endfor %}
      {% endif %}
      <div class="col-xs-12">
        {{ item.section_5_content|safe }}
      </div>
    </div>
    {% endif %}
    {% if item.section_6_title %}
    <div id="{{ item.section_6_a_name }}" class="row">
      <div class="col-xs-12 channelsection">
        <h2>{{ item.section_6_title }}</h2>
        <p>
          {{ item.section_6_sub_heading }}
        </p>
      </div>
      {% if item.section_6_item_layout == "Grid" %}
        {% for item in item.section_6_items %}
          {% include "templates/partials/page/grid.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_6_item_layout == "Full" %}
        {% for item in item.section_6_items %}
          {% include "templates/partials/page/full.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_6_item_layout == "Category" %}
        {% for item in item.section_6_items %}
          {% include "templates/partials/page/category.html" %}
        {% endfor %}
      {% endif %}
      <div class="col-xs-12">
        {{ item.section_6_content|safe }}
      </div>
    </div>
    {% endif %}
    {% if item.section_7_title %}
    <div id="{{ item.section_7_a_name }}" class="row">
      <div class="col-xs-12 channelsection">
        <h2>{{ item.section_7_title }}</h2>
        <p>
          {{ item.section_7_sub_heading }}
        </p>
      </div>
      {% if item.section_7_item_layout == "Grid" %}
        {% for item in item.section_7_items %}
          {% include "templates/partials/page/grid.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_7_item_layout == "Full" %}
        {% for item in item.section_7_items %}
          {% include "templates/partials/page/full.html" %}
        {% endfor %}
      {% endif %}
      {% if item.section_7_item_layout == "Category" %}
        {% for item in item.section_7_items %}
          {% include "templates/partials/page/category.html" %}
        {% endfor %}
      {% endif %}
      <div class="col-xs-12">
        {{ item.section_7_content|safe }}
      </div>
    </div>
    {% endif %}
    {% if item.additional_resources %}
    <div id="additional-resources" class="row">
       <div class="col-xs-12 channelsection">
         <h2>Additional resources</h2>
       </div>
       <div class="col-xs-12">
         {{ item.additional_resources|safe }}
       </div>
    </div>
    {% endif %}

    {% if item.page_conclusion %}
    <div class="col-xs-12">
      <div class="col-xs-4">
        <h2>Conclusion</h2>
      </div>
      <div class="col-xs-8">
        {{ item.page_conclusion|safe }}
      </div>
    </div>
    {% endif %}
    {% if item.experts %}
    <div id="channel-experts" class="col-xs-12">
      <div class="col-xs-4">
        <h2>Channel Experts</h2>
        <p>Need help making a decision? Contact one of the featured channel experts to help you</p>
      </div>
      <div class="col-xs-8">
        {% for item in item.experts %}
        <div class="col-xs-6 expert">
          <div class="col-xs-12 head">
            <div class="col-xs-8">
              {{item.name}}
            </div>
          </div>
          <div class="col-xs-6">
            <b>{{item.title}}</b>
          </div>
          <div class="col-xs-6 rightpart">
            <div class="col-xs-8 col-xs-offset-2">
              {% if item.bio_image.url %}<img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_61,w_100,h_100,c_fill/{{ getSetting('site_url') }}{{ item.bio_image.url }}" />{% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 grayback">
              <div class="col-xs-6 leftpart">
                <p>
                  {{ item.one_liner|safe|truncate(80) }}
                </p>
              </div>
              <div class="col-xs-6 rightone">
                  <span>{{item.city}}{% if item.city && item.country %},{% endif %} {{item.country}}</span>
                  {% if item.website %}<a href="{{item.website}}"><i class="fa fa-home" aria-hidden="true"></i></a>{% endif %}
                  {% if item.linkedin_url %}<a href="{{item.linkedin_url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>{% endif %}
                  {% if item.twitter_url %}<a href="{{item.twitter_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>{% endif %}
                <a class="btn btn-default" href="{{ item.call_to_action }}"><i class="fa fa-comment-o" aria-hidden="true"></i> Get in touch</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if item.lead_form %}
    <div id="decision-assistance" class="col-xs-12">
      <div class="col-xs-4">
        <h2>Decision Assistance</h2>
      </div>
      <div class="col-xs-8">
        {{ item.lead_form|safe }}
      </div>
    </div>
    {% endif %}
  </div>
  {% if item.call_to_action_banner_ad %}
  <div class="col-xs-12 banner padding0">
    <ul class="col-xs-12 slides">
      <li class="col-xs-12 banner-single">
        <a rel="nofollow" class="col-xs-12" href="{{item.call_to_action_link}}" style="background:{{item.call_to_action_background_color }};display:block;">
          <div class="col-xs-12 col-sm-8">
            <img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_80/{{ getSetting('site_url') }}{{item.call_to_action_banner_ad.url}}" />
          </div>
          <div class="col-sm-4 hidden-xs">
            <div class="valign">
              <span>Advertisement</span>
              {{ item.call_to_action_text|safe }}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  {% endif %}
</div>
{% endif %}
{% if item.page_type == "News" %}
<div class="col-xs-12 page-single-bluetop">

</div>
<div class="row padding30">
  <div class="row page-single">
    <div class="col-xs-9">
      <h1>{{ item.name }}</h1>
      <p>
        {{ item.content|safe }}
      </p>
      {% set randomnews = cms.page|where('page_type', 'News') %}
      {% set random_page1 = random(randomnews) %}
      {% set random_page2 = random(randomnews) %}
      {% if random_page2 == random_page1 %}
        {% set random_page2 = random(randomnews) %}
      {% endif %}
      {% set random_page3 = random(randomnews) %}
      {% if random_page3 == random_page1 || random_page3 == random_page2 %}
        {% set random_page3 = random(randomnews) %}
      {% endif %}
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="col-xs-12">
            <a href="{{url(random_page1)}}">
              <p>{{ random_page1.publish_date|date('m d, Y') }}</p>
              <div class="col-xs-12 h3name">
                <h3>{{ random_page1.name|truncate(50) }}</h3>
              </div>
              <img class="img-responsive" src="{{ random_page1.hero_image.url }}" />
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="col-xs-12">
            <a href="{{url(random_page2)}}">
              <p>{{ random_page2.publish_date|date('m d, Y') }}</p>
              <div class="col-xs-12 h3name">
                <h3>{{ random_page2.name|truncate(50) }}</h3>
              </div>
              <img class="img-responsive" src="{{ random_page2.hero_image.url }}" />
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="col-xs-12">
            <a href="{{url(random_page3)}}">
              <p>{{ random_page3.publish_date|date('m d, Y') }}</p>
              <div class="col-xs-12 h3name">
                <h3>{{ random_page3.name|truncate(50) }}</h3>
              </div>
              <img class="img-responsive" src="{{ random_page3.hero_image.url }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <img class="img-responsive" src="{{ item.screenshot_image.url }}" />
      {% set sidebarbanners = cms.sidebarbanner|sort('publish_date', true) %}
      <ul class="col-xs-12 slides">
      {% for banner in sidebarbanners %}
          {% if banner.image.url %}
            <li class="col-xs-12 banner-single">
              <a rel="nofollow" href="{{ banner.url }}" class="col-xs-12" style="display:block;">
                  <img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_80/{{ getSetting('site_url') }}{{banner.image.url}}" />
              </a>
            </li>
          {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
  {% if item.call_to_action_banner_ad %}
  <div class="col-xs-12 banner">
    <ul class="col-xs-12 slides">
      <li class="col-xs-12 banner-single">
        <a rel="nofollow" class="col-xs-12" style="background:{{item.call_to_action_background_color }};display:block;">
          <div class="col-xs-12 col-sm-8">
            <img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_80/{{ getSetting('site_url') }}{{item.call_to_action_banner_ad}}" />
          </div>
          <div class="col-sm-4 hidden-xs">
            <div class="valign">
              <span>Advertisement</span>
              {{ item.call_to_action_text|safe }}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  {% endif %}
</div>
{% endif %}
{% if item.page_type == "IoT Voices Interview" || item.page_type == "IoT Voices Commentary" %}
<div class="row padding30 page-single-header page-interview-header" style="background:url('{{ item.hero_image.url }}')">

</div>
<div class="row padding30 page-interview-single">
  <div class="col-xs-12 col-sm-9">
    <h1>{{item.name}}</h1>
    <p>
      {{item.content|safe}}
    </p>
    {% if item.author_pages %}
    <div class="col-xs-12 author">
      {% for author in item.author_pages %}
        <div class="col-xs-2">
          <div class="col-xs-3">By</div>
          <div class="col-xs-9">
            <a href="{{author.linkedin_url}}"><img class="img-responsive img-circle" src="{{author.bio_image.url}}" /></a>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="col-xs-3">
            {{author.name}}
          </div>
          <div class="col-xs-9">
            {{ author.one_liner|safe }}
          </div>
          <div class="col-xs-12">
            {% if author.website %}<a href="{{author.website}}"><i class="fa fa-home" aria-hidden="true"></i></a>{% endif %}
            {% if author.linkedin_url %}<a href="{{author.linkedin_url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>{% endif %}
            {% if author.twitter_url %}<a href="{{author.twitter_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="col-xs-12 author-below">
      <div class="pull-left">
        IoT Voices Interview
      </div>
      <div class="pull-right">
        {{ item.publish_date|date('M d,Y') }}
      </div>
    </div>
    {% set randomnews = cms.page|where('page_type', 'IoT Voices Interview') %}
    {% set random_page1 = random(randomnews) %}
    {% set random_page2 = random(randomnews) %}
    {% if random_page2 == random_page1 %}
      {% set random_page2 = random(randomnews) %}
    {% endif %}
    {% set random_page3 = random(randomnews) %}
    {% if random_page3 == random_page1 || random_page3 == random_page2 %}
      {% set random_page3 = random(randomnews) %}
    {% endif %}
    <div class="col-xs-12 additional">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12">
          <a href="{{url(random_page1)}}">
            <p>{{ random_page1.publish_date|date('m d, Y') }}</p>
            <div class="col-xs-12 h3name">
              <h3>{{ random_page1.name|truncate(50) }}</h3>
            </div>
            <img class="img-responsive" src="{{ random_page1.hero_image.url }}" />
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12">
          <a href="{{url(random_page2)}}">
            <p>{{ random_page2.publish_date|date('m d, Y') }}</p>
            <div class="col-xs-12 h3name">
              <h3>{{ random_page2.name|truncate(50) }}</h3>
            </div>
            <img class="img-responsive" src="{{ random_page2.hero_image.url }}" />
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12">
          <a href="{{url(random_page3)}}">
            <p>{{ random_page3.publish_date|date('m d, Y') }}</p>
            <div class="col-xs-12 h3name">
              <h3>{{ random_page3.name|truncate(50) }}</h3>
            </div>
            <img class="img-responsive" src="{{ random_page3.hero_image.url }}" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-xs-12 col-sm-3">
    {% if item.cover_image %}
      <img class="img-responsive" src="{{item.cover_image.url}}" />
    {% endif %}
    <ul class="col-xs-12 slides">
    {% for banner in sidebarbanners %}
        {% if banner.image.url %}
          <li class="col-xs-12 banner-single">
            <a rel="nofollow" href="{{ banner.url }}" class="col-xs-12" style="display:block;">
                <img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_80/{{ getSetting('site_url') }}{{banner.image.url}}" />
            </a>
          </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% for item in item.gallery %}
      <img class="img-responsive" src="{{item.url}}" />
    {% endfor %}
  </div>
  <div class="col-xs-12 banner">
    <ul class="col-xs-12 slides">
    {% set banners = cms.banner|sort('publish_date', true) %}
    {% for banner in banners %}
    <li class="col-xs-12 banner-single">
      <a rel="nofollow" class="col-xs-12" href="{{banner.link}}" style="background:{{banner.cta_background_color }};display:block;">
        <div class="col-xs-12 col-sm-8">
          <img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_80/{{ getSetting('site_url') }}{{banner.image.url}}" />
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="valign">
            <span>Advertisement</span>
            {{ banner.call_to_action|safe }}
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}
{% if item.page_type == "Feature" || item.page_type == "Site" %}
<div class="row padding30 page-single-header" style="background:url('{{ item.hero_image.url }}');min-height:350px;">

</div>
<div class="row padding30 page-interview-single {% if item.page_type == "Feature" %}page-feature-single{% endif %}">
  <div class="col-xs-12 col-sm-12">
    <h1>{{item.name}}</h1>
    <p>
      {{item.content|safe}}
    </p>
    {% if item.page_type == "Feature" %}
    {% if item.author_pages %}
    <div class="col-xs-12 author">
      {% for author in item.author_pages %}
        <div class="col-xs-2">
          <div class="col-xs-3">By</div>
          <div class="col-xs-9">
            <a href="{{author.linkedin_url}}"><img class="img-responsive img-circle" src="{{author.bio_image.url}}" /></a>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="col-xs-3">
            {{author.name}}
          </div>
          <div class="col-xs-9">
            {{ author.one_liner|safe }}
          </div>
          <div class="col-xs-12">
            {% if author.website %}<a href="{{author.website}}"><i class="fa fa-home" aria-hidden="true"></i></a>{% endif %}
            {% if author.linkedin_url %}<a href="{{author.linkedin_url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>{% endif %}
            {% if author.twitter_url %}<a href="{{author.twitter_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="col-xs-12 author-below">
      <div class="pull-left">
        Feature
      </div>
      <div class="pull-right">
        {{ item.publish_date|date('M d,Y') }}
      </div>
    </div>
    {% endif %}
    {% if item.page_type == "Feature" %}
    {% set randomnews = cms.page|where('page_type', 'Feature') %}
    {% set random_page1 = random(randomnews) %}
    {% set random_page2 = random(randomnews) %}
    {% if random_page2 == random_page1 %}
      {% set random_page2 = random(randomnews) %}
    {% endif %}
    {% set random_page3 = random(randomnews) %}
    {% if random_page3 == random_page1 || random_page3 == random_page2 %}
      {% set random_page3 = random(randomnews) %}
    {% endif %}
    <div class="col-xs-12 additional">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12">
          <a href="{{url(random_page1)}}">
            <p>{{ random_page1.publish_date|date('m d, Y') }}</p>
            <div class="col-xs-12 h3name">
              <h3>{{ random_page1.name|truncate(50) }}</h3>
            </div>
            <img class="img-responsive" src="{{ random_page1.hero_image.url }}" />
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12">
          <a href="{{url(random_page2)}}">
            <p>{{ random_page2.publish_date|date('m d, Y') }}</p>
            <div class="col-xs-12 h3name">
              <h3>{{ random_page2.name|truncate(50) }}</h3>
            </div>
            <img class="img-responsive" src="{{ random_page2.hero_image.url }}" />
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12">
          <a href="{{url(random_page3)}}">
            <p>{{ random_page3.publish_date|date('m d, Y') }}</p>
            <div class="col-xs-12 h3name">
              <h3>{{ random_page3.name|truncate(50) }}</h3>
            </div>
            <img class="img-responsive" src="{{ random_page3.hero_image.url }}" />
          </a>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
    {% if item.call_to_action_banner_ad && item.page_type == "Feature" %}
    <div class="col-xs-12 banner">
      <ul class="col-xs-12 slides">
        <li class="col-xs-12 banner-single">
          <a rel="nofollow" class="col-xs-12" style="background:{{item.call_to_action_background_color }};display:block;">
            <div class="col-xs-12 col-sm-8">
              <img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_80/{{ getSetting('site_url') }}{{item.call_to_action_banner_ad}}" />
            </div>
            <div class="col-sm-4 hidden-xs">
              <div class="valign">
                <span>Advertisement</span>
                {{ item.call_to_action_text|safe }}
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    {% endif %}
    {% if !item.call_to_action_banner_ad && item.page_type == "Feature" %}
    <div class="col-xs-12 banner">
      <ul class="col-xs-12 slides">
      {% set banners = cms.banner|sort('publish_date', true) %}
      {% for banner in banners %}
      <li class="col-xs-12 banner-single">
        <a rel="nofollow" class="col-xs-12" href="{{banner.link}}" style="background:{{banner.cta_background_color }};display:block;">
          <div class="col-xs-12 col-sm-8">
            <img class="img-responsive img-full" src="https://res.cloudinary.com/postscapes/image/fetch/q_80/{{ getSetting('site_url') }}{{banner.image.url}}" />
          </div>
          <div class="col-sm-4 hidden-xs">
            <div class="valign">
              <span>Advertisement</span>
              {{ banner.call_to_action|safe }}
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
